{% if not object.suspicious %}
	<a href="{{ admin.generateObjectUrl('suspicious', object) }}" class="btn delete_link btn-small" title="{{ "Mark a user as suspicious" | trans }}">
	    <i class="icon-warning-sign"></i>
	    {{ "Suspicious user" | trans }}
	</a>
{% else %}
	<a href="{{ admin.generateObjectUrl('unsuspicious', object) }}" class="btn delete_link btn-small" title="{{ "Mark a user as not suspicious" | trans }}">
	    <i class="icon-ok"></i>
	    {{ "Unsuspicious user" | trans }}
	</a>
{% endif %}