{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block content %}
    {{ form_start(form, { 'action': admin.generateUrl('identityValidateSearchPost'), 'attr': { 'method': 'post', 'class': 'form-horizontal' } }) }}
      <div class="control-group">
        {{ form_label(form.email, null, {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
          {{ form_widget(form.email) }}
        </div>
      </div>
      <div class="control-group">
        {{ form_label(form.legalId, null, {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
          {{ form_widget(form.legalId) }}
        </div>
      </div>
      <div class="control-group">
        {{ form_label(form.firstname, null, {'label_attr': {'class': 'control-label'}}) }}
        <div class="controls">
          {{ form_widget(form.firstname) }}
          {{ form_widget(form.lastname) }}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          {{ form_widget(form.search) }}
          <a href="{{ admin.generateUrl('identityValidateSearch') }}" class="btn">{{ "Clear" | trans  }}</a>
        </div>
      </div>
    {{ form_end(form) }}
    
    {% if not exceeded %}
      {% if identities|length > 0 %}
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ "Legal Id"|trans }}</th>
                <th>{{ "Email"|trans }}</th>
                <th>{{ "Fullname"|trans }}</th>
                <th>{{ "Actions"|trans }}</th>
              </tr>
            </thead>
            <tbody>
              {% for identity in identities %}
                <tr class="{{ identity.rowStatus }}">
                  <td>{{ loop.index }}</td>
                  <td>{{ identity.legalId }}</td>
                  <td>{{ identity.email }}</td>
                  <td>{{ identity.fullname }}</td>
                  <td>
                    {% if not identity.suspicious %}
                      {% set action  = identity.validatable ? 'validateIdentity' : 'invalidateIdentity' %} 
                      {% set icon    = identity.validatable ? 'user' : 'remove-circle' %}
                      {% set text    = identity.validatable ? "Validate"|trans : "Invalidate"|trans %}
                      <a href="{{ admin.generateObjectUrl(action, identity) }}" class="btn btn-link no-space"><i class="icon-{{ icon }}"></i> {{ text }}
                      </a>
                    {% else %}
                      <i class="icon-warning-sign"></i> <i>{{ "suspicious.identity"|trans }}</i>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% endif %}
    {% else %} 
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ "Your search has exceeded the limit of results." | trans }}</h4>
        <p>{{ "Please, narrow your search." | trans }}</p>
      </div>
    {% endif %}
{% endblock %}