{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block table_header %}{% endblock %}

{% block table_body %}
	<ul>
		{% for log in admin.datagrid.results %}
	        <li>
	            {{log|identitylog|trans}}
        	</li>
	    {% endfor %}
	</ul>
{% endblock %}

{% block table_footer %}
    <tr>
        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
            <div class="form-inline">
                {% if not app.request.isXmlHttpRequest %}
                    {% if admin.hasRoute('batch') and batchactions|length > 0  %}
                        {% block batch %}
                            {{ parent() }}
                        {% endblock %}

                        <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
                    {% endif %}

                    <div class="pull-right">
                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                            {% for format in admin.getExportFormats() %}
                                <a href="#modal{{ format|capitalize }}" data-toggle="modal" role="button">{{ format }}</a>{% if not loop.last %},{% endif %}
                                
                                <div id="modal{{format|capitalize}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal{{ format|capitalize }}Label" aria-hidden="true">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="modal{{ format|capitalize }}Label">{{("export."~format)|trans}}</h3>
                                  </div>
                                  <div class="modal-body">
                                    <p>{{ "file.md5.is" | trans({ '%md5%': md5s[format] }) }}</p>
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">{{"Cancel" | trans}}</button>
                                    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}" class="btn btn-primary">{{"Export" | trans}}</a>
                                  </div>
                                </div>

                            {% endfor %}

                            &nbsp;-&nbsp;
                        {% endif %}

                        {% block pager_results %}
                            {% include admin.getTemplate('pager_results') %}
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        </th>
    </tr>

	{% block pager_links %}
        {% if admin.datagrid.pager.haveToPaginate() %}
            {% include admin.getTemplate('pager_links') %}
        {% endif %}
    {% endblock %}

{% endblock %}
