{% extends 'SonataAdminBundle:CRUD:action.html.twig' %} 

{% block content %}
    <h1>{{ "Identity validation" | trans }}</h1>

    <div class="well well-small form-actions">
        <p>{{ "Are you sure you want to %action% this identity?" | trans({'%action%': action|trans}) }}</p>
        <p>{{ identity.fullname }} - {{ identity.email }} - {{ identity.legalId }}</p>
        <p><strong>{{ "This action will be logged for future reference" | trans }}</strong></p>
    </div>

	<div class="well well-small form-actions">
        {% set method = action ~ 'IdentityPost' %}
        <form method="post" action="{{ admin.generateObjectUrl(method, identity) }}">
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />
            <button type="submit" class="btn btn-danger">
                <i class="icon-warning-sign icon-white"></i> 
                {{ "I understand, %action%!" | trans({'%action%': action|trans}) }}
            </button>
            <a href="{{ admin.generateUrl('identityValidateSearch') }}" class="btn">{{ "Cancel" | trans }}</a>
        </form>
    </div>
{% endblock %}